@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

*, body, ul {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Global styles */
.todo-app {
  max-width: 400px;
  min-width: 250px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.app-title {
  text-align: center;
  margin-bottom: 15px;
}

/* Task list styles */
.task-container {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.task-text {
  padding: 10px;
  white-space: normal;
  word-wrap: break-word;
}

.task-checkbox {
  margin-right: 10px;
}

.delete-button {
  background-color: #ff6b6b;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

/* Add task styles */
.add-task-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.label {
  width: 100%;
}

.new-task-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.add-button {
  width: 100%;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}
