@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-weight: 400;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #8b8b8b;
}

footer a {
    padding: 2px;
    border-radius: 3px;
    color: #ffffff;
    background: #ccc;
    text-decoration: none;
    font-size: 12px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
    gap: 20px;
}

.contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 500px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.instructions {
    text-align: center;
    font-weight: 300;
}

.task-add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.text-task {
    flex-grow: 10;
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
}

.add-task-button {
    flex-grow: 1;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-task-button:hover {
    background-color: #006ce0;
}

.add-task-button:active {
    color: #555;
    background-color: #ccc;
}

.summary-tasks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.summary-tasks p {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

.summary-tasks span {
    font-weight: 700;
    font-size: 18px;
}

.list-tasks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
    width: 100%;
}

.task:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task input[type="checkbox"] {
    flex-shrink: 0;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.2s ease;
}

.task input[type="checkbox"]:checked {
    border-color: #30930a;
    background-color: #30930a;
}

.task input[type="checkbox"]:hover {
    border-color: #44a41f;
}

.body-task {
    flex-grow: 1;
}

.body-task p {
    font-size: 16px;
    color: #555;
    line-height: 25px;
}

.delete-task {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ccc;
}

.delete-task i {
    font-size: 20px;
    transition: color 0.2s ease;
}

.delete-task:hover {
    color: #ff1f1f;
}

.delete-task:active {
    color: #ccc;
}

.empty-tasks-text {
    width: 100%;
    text-align: center;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}